{% extends "authentication/layout.html" %}

{% block content %}
{% if login_form %}

<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
    <form class="form" method="POST" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        <input type="hidden" name="back_url" value="{{back_url}}">
        <div class="card card-login card-hidden">
            <div class="card-header card-header-rose text-center">
                <h4 class="card-title farsi">ورود</h4>
                <div class="social-line">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body ">
                {% if message %}
                <p class="card-description text-center text-warning">{{message}}</p>
                {% else %}
                <p class="card-description text-center">نام کاربری و کلمه عبور را وارد کنید.</p>

                {% endif %}
                <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">face</i>
                            </span>
                        </div>
                        <input required style="direction: ltr!important;text-align: center!important;" type="text"
                            name="username" class="form-control" placeholder="نام کاربری">

                    </div>
                </span>

                <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input required style="direction: ltr!important;text-align: center!important;" type="password"
                            name="password" class="form-control" placeholder="کلمه عبور">

                    </div>
                </span>
            </div>
            <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-lg rtl">
                <i class="material-icons">login</i>    
                    ورود
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock  %}