{% extends "dashboard/layout.html" %}
{% load static %}


{% block head %}

{% endblock  %}


{% block ofbar %}

{% endblock  %}


{% block content %}
<div class="content" id="profile-app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title text-right">ویرایش پروفایل
                            <!-- <small class="category">داده های جدید را وارد کنید</small> -->
                        </h4>
                    </div>
                    <div class="card-body">
                        <div>
                            {% csrf_token %}
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">نام کاربری</label>
                                        <input disabled type="text" class="form-control"
                                            value="{{selected_profile.user.username}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">پست الکترونیک</label>
                                        <input disabled type="email" class="form-control"
                                            value="{{selected_profile.user.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">نام</label>
                                        <input type="text" class="form-control" v-model="first_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">نام خانوادگی</label>
                                        <input type="text" class="form-control" v-model="last_name">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">عنوان</label>
                                        <input type="text" class="form-control" v-model="slogan"
                                            value="{{selected_profile.slogan}}">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">آدرس</label>
                                        <input type="text" class="form-control" v-model="address"
                                            value="{{selected_profile.address}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">موبایل</label>
                                        <input type="phone" class="form-control" v-model="mobile"
                                            value="{{selected_profile.mobile}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">کد پستی</label>
                                        <input type="text" class="form-control" v-model="postal_code"
                                            value="{{selected_profile.postal_code}}">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>

                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">
                                                درباره ...
                                            </label>
                                            <textarea class="form-control" rows="5" v-model="bio"
                                                value="{{selected_profile.bio}}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button @click="submit" class="btn btn-success pull-right">
                                <i class="material-icons">publish</i>
                                تایید</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div v-if="!show_edit_image" class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="{{selected_profile.image}}">
                        </a>
                    </div>
                    <div class="card-body">
                     
                        

                        <h6 class="card-category text-gray" v-text="slogan"></h6>
                        <h4 class="card-title" v-text="first_name+' '+last_name"></h4>
                        <p class="card-description text-center" v-text="bio">
                           
                        </p>
                        <!-- <a href="{{selected_profile.get_edit_url_admin}}" class="btn btn-rose btn-round farsi">ویرایش </a> -->
                         <button @click="show_edit_image=!show_edit_image" class="btn btn-warning btn-round farsi">
                            <i class="material-icons">add_a_photo</i> 
                             انتخاب تصویر   </button>
                   </div>
                </div>




                <div v-if="show_edit_image" v-cloak class="card card-profile">
                   
                    <div class="card-body">
                        {% if upload_profile_image_form %}

                        <form enctype="multipart/form-data" action="{% url 'authentication:upload_profile_image' %}"
                            method="POST">



                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle img-raised">
                                    <img src="{{selected_profile.image}}" alt="...">

                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"
                                    style=""></div>
                                <div>
                                    <button type="submit" class="fileinput-exists btn btn-success btn-round farsi">
                                        <i class="material-icons mx-2">backup</i>
                                        آپلود
                                        </button>
                                     
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                        data-dismiss="fileinput">
                                        <i class="fa fa-times"></i>
                                        <span class="farsi">انصراف</span>
                                    </a>   <br>
                                    <span class="btn btn-raised btn-round btn-info btn-file">
                                        <span class="fileinput-new farsi">
                                            <i class="material-icons">add_a_photo</i>
                                            انتخاب تصویر جدید</span>
                                        <span class="fileinput-exists farsi">
                                            <i class="material-icons">add_a_photo</i>
                                            انتخاب تصویر جدید</span>
                                        <input type="hidden" name="profile_id" value="{{selected_profile.id}}">
                                        <input type="file" name="image">
                                        <div class="ripple-container"></div>
                                    </span>
                                    <br>
                                 
                                </div>
                                {% csrf_token %}
                               
                            </div>
                        </form>
                        {% endif %}


                        {% if upload_profile_header_form %}

                        <form enctype="multipart/form-data" action="{% url 'authentication:upload_profile_header_image' %}"
                            method="POST">



                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-raised">
                                    <img src="{{selected_profile.header_image}}" alt="...">

                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-raised"
                                    style=""></div>
                                <div>
                                    <button type="submit" class="fileinput-exists btn btn-success btn-round farsi">
                                        <i class="material-icons">backup</i>
                                        آپلود
                                        </button>

                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                    data-dismiss="fileinput">
                                    <i class="fa fa-times"></i>
                                    <span class="farsi">انصراف</span>
                                </a>
                                <br>
                                    <span class="btn btn-raised btn-round btn-primary btn-file">
                                        <span class="fileinput-new farsi">
                                            <i class="material-icons">add_a_photo</i>
                                            انتخاب تصویر سربرگ جدید</span>
                                        <span class="fileinput-exists farsi">
                                            <i class="material-icons">add_a_photo</i>
                                            انتخاب تصویر سربرگ جدید</span>
                                        <input type="hidden" name="profile_id" value="{{selected_profile.id}}">
                                        <input type="file" name="header_image">
                                        <div class="ripple-container"></div>
                                    </span>
                                    <br>
                                   
                                </div>
                                {% csrf_token %}
                               
                            </div>
                        </form>
                        {% endif %}

                       
                        
                        <button @click="show_edit_image=!show_edit_image" class="btn btn-secondary btn-round farsi">
                            <i class="fa fa-times"></i>
                            انصراف</button>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock  %}



{% block modal %}

{% endblock  %}



{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let csrfmiddlewaretoken = ''
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
    })
    let profile_app = new Vue({
        el: "#profile-app",
        data: {
            show_edit_image:false,
            profile_id: JSON.parse("{{selected_profile.id}}"),
            first_name: "{{selected_profile.first_name}}",
            last_name: "{{selected_profile.last_name}}",
            bio: "{{selected_profile.bio}}",
            mobile: "{{selected_profile.mobile}}",
            slogan: "{{selected_profile.slogan}}",
            address: "{{selected_profile.address}}",
            postal_code: "{{selected_profile.postal_code}}",
        },
        methods: {
            submit: function () {

                url = '{% url "authentication:edit_profile" %}'
                // Send the data using post
                // var getting = $.get(url);
                var posting = $.post(url, {
                    first_name: profile_app.first_name,
                    last_name: profile_app.last_name,
                    bio: profile_app.bio,
                    slogan: profile_app.slogan,
                    postal_code: profile_app.postal_code,
                    mobile: profile_app.mobile,
                    address: profile_app.address,
                    profile_id: profile_app.profile_id,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                });

                // Put the results in a div
                posting.done(function (data) {
                    if (data.result == 'SUCCEED')
                        swal({
                            title: "ویرایش پروفایل",
                            text: "پروفایل با موفقیت اصلاح شد.",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success"
                        }).catch(swal.noop)
                    else
                        swal({
                            title: "خطا !",
                            text: "ویرایش پروفایل با خطا مواجه گردید!" + "\n" + "دوباره تلاش کنید.",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-danger",
                            type: "error"
                        }).catch(swal.noop)

                })
            }

        }
    })
</script>
{% endblock  %}