<div  class="media rtl ">

    <a class="float-left" :href="comment.profile_get_absolute_url">
        <div class="avatar">
            <img class="media-object"  :src="comment.profile_image" alt="...">
        </div>
    </a>
    <div class="media-body">
        <a :href="comment.profile_get_absolute_url">
            <h4 class="media-heading text-right farsi rtl">
                <span class="farsi" v-text="comment.profile_name">

                </span>
                <small v-text="comment.persian_date_added">

                </small>
            </h4>
        </a>

        <h6 class="text-muted text-right farsi"></h6>
        <p v-text="comment.text">


        </p>
        <div class="media-footer">
            <a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title=""
                data-original-title="Reply to Comment">
                <i class="material-icons">reply</i> پاسخ
            </a>
            <a href="#pablo" class="btn btn-danger btn-link float-right">
                <i class="material-icons">favorite</i> 243
            </a>
            <button v-if="comment.profile_id=={{profile.id}} && !confirm_delete_comment"
                @click="confirm_delete_comment=true" class="btn btn-warning btn-link float-right">
                <i class="material-icons">delete</i>
            </button>
            <button v-if="confirm_delete_comment" @click="CancelDeleteComment" class="btn btn-info btn-link float-right">
                <i class="material-icons">delete</i>
            </button>
              <button v-if="confirm_delete_comment" @click="ConfirmDeleteComment(comment.id)" class="btn btn-danger btn-link float-right">
                <i class="material-icons">delete</i>
                <span class="farsi">

                    حذف کن
                </span>
                
            </button>
           
        </div>
    </div>

</div>