{% load static %}
<footer class="footer footer-black footer-big">
  <div class="container">
    <div class="content">
      <div class="row rtl">
        <div class="col-md-4">
          <h4 class="text-right text-light">
            <span class="farsi  text-light">
              {{app.title.value}}

            </span>

          </h4>
          <h5 class="text-right">
            <i class="fa fa-tel"></i>
             <span class="farsi ">
 
 
               تلفن :
               {{app.tel.value}}
             </span>
           </h5>


           <h5 class="text-right">
            <i class="fa fa-tel"></i>
             <span class="farsi ">
 
 
               ایمیل :
               {{app.email.value}}
             </span>
           </h5>


           <h5 class="text-right">
            <i class="fa fa-tel"></i>
             <span class="farsi ">
 
 
               آدرس :
               {{app.address.value}}
             </span>
           </h5>


        </div>
        <div class="col-md-4">
          <h5 class="text-right farsi">
            <span class="farsi">
              درباره ما

            </span>

          </h5>
          <p>

            {{app.about_us_short.value}}
            {{app.about_us_short.get_edit_btn|safe}}

          </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-right farsi">
            <span class="farsi">
              شبکه های اجتماعی

            </span>

          </h5>
          <div class="gallery-feed">
            <img src="{% static 'material/img/card-profile6-square.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/christian.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/card-profile4-square.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/card-profile1-square.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/marc.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/kendall.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/card-profile5-square.jpg' %}" class="img img-raised rounded" alt="">
            <img src="{% static 'material/img/card-profile2-square.jpg' %}" class="img img-raised rounded" alt="">

          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">

      <button class="btn btn-just-icon btn-round btn-twitter mx-2">
        <i class="fa fa-twitter"></i>
        <div class="ripple-container"></div>
      </button>

      <button class="btn btn-just-icon btn-round bg-info mx-2">
        <i class="fa fa-telegram"></i>
        <div class="ripple-container"></div>
      </button>

      <button class="btn btn-just-icon btn-round btn-whatsapp mx-2 bg-success">
        <i class="fa fa-whatsapp"></i>
        <div class="ripple-container"></div>
      </button>

      <button class="btn btn-just-icon btn-round btn-pinterest mx-2">
        <i class="fa fa-pinterest"></i>
        <div class="ripple-container"></div>
      </button>



      <button class="btn btn-just-icon btn-round btn-facebook mx-2">
        <i class="fa fa-facebook"></i>
        <div class="ripple-container"></div>
      </button>



      <button class="btn btn-just-icon btn-round btn-linkedin mx-2">
        <i class="fa fa-linkedin"></i>
        <div class="ripple-container"></div>
      </button>




    </div>
    <hr>
    {% include 'material/includes/last-footer.html' %}
  </div>
</footer>