{% load static %}
<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="content">
            <div class="row leo-rtl">
                <div class="col-md-4">
                    <h5 class="text-right">درباره ما</h5>
                    <p>

                        {{app.about_us_short.value}}
                        {{app.about_us_short.get_edit_btn|safe}}

                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Social Feed</h5>
                    <div class="social-feed">
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>How to handle ethical disagreements with your clients.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>The tangible benefits of designing at 1x pixel density.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-facebook-square"></i>
                            <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Instagram Feed</h5>
                    <div class="gallery-feed">
                        <img src="{% static 'material/img/card-profile6-square.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/christian.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/card-profile4-square.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/card-profile1-square.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/marc.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/kendall.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/card-profile5-square.jpg' %}" class="img img-raised rounded" alt="">
                        <img src="{% static 'material/img/card-profile2-square.jpg' %}" class="img img-raised rounded" alt="">

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
          
                <button class="btn btn-just-icon btn-round btn-twitter mx-2">
                    <i class="fa fa-twitter"></i>
                  <div class="ripple-container"></div>
                </button>

                  <button class="btn btn-just-icon btn-round bg-info mx-2">
                    <i class="fa fa-telegram"></i>
                  <div class="ripple-container"></div>
                </button>

                  <button class="btn btn-just-icon btn-round btn-whatsapp mx-2 bg-success">
                    <i class="fa fa-whatsapp"></i>
                  <div class="ripple-container"></div>
                </button>

                <button class="btn btn-just-icon btn-round btn-pinterest mx-2">
                    <i class="fa fa-pinterest"></i>
                  <div class="ripple-container"></div>
                </button>



                <button class="btn btn-just-icon btn-round btn-facebook mx-2">
                    <i class="fa fa-facebook"></i>
                  <div class="ripple-container"></div>
                </button>



                <button class="btn btn-just-icon btn-round btn-linkedin mx-2">
                    <i class="fa fa-linkedin"></i>
                  <div class="ripple-container"></div>
                </button>


           
                
        </div>
        <hr>
        <ul class="float-left">
            <li>
                <a href="#pablo">
                    Blog
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Presentation
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Discover
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Payment
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Contact Us
                </a>
            </li>
        </ul>
        <div class="copyright float-right">
            Copyright ©
            <script>
                document.write(new Date().getFullYear())
            </script>2020

            <button class="btn btn-linkedin">
                <i class="fa fa-linkedin-square"></i> Connect with Linkedin
                <div class="ripple-container"></div></button>

        </div>
    </div>
</footer>