django-social-share
cryptography 
Django
django-cleanup
django-mysql
django-resized
django-tinymce
djangorestframework
djecrety
mysqlclient
openpyxl
persiantools
Pillow
pusher
pylint
PyMySQL
qrcode
requests
sqlparse
toml
gunicorn
django_heroku
whitenoise