{% load static %}
<!-- features -->
<div class="cd-section" id="features">
    <div class="container">
        <!--     *********     FEATURES 1      *********      -->
        <div class="features-1">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title farsi">
                        آشنایی با سرویس های ما
                        {% if perms.dashboard.add_ourteam %}
                       
                        {{admin_utility.get_add_feature|safe}}
                   
                    {% endif %}
                    </h2>
                    <h5 class="description">

                        ریشه‌ی مدیریت پروژه به روش‌ها و فرآیندهایی برمی‌گردد که حدود صد سال پیش در کسب‌و‌کار توسعه پیدا
                        کردند. با این حال، در سال‌های اخیر، مدیریت پروژه رشد چشمگیری داشته و به عنوان یک عملیات مجزا و
                        جدی در تجارت ظهور کرده است و در صحنه‌ی تجارت جهانی، یعنی جایی که شرکت‌ها دائما به دنبال رسیدن به
                        مزیت رقابتی هستند، به یک عامل کلیدی تبدیل شده است. در مقاله زیر با مفهوم مدیریت پروژه بیشتر آشنا
                        خواهید شد.




                    </h5>
                </div>
            </div>
            <div class="row leo-rtl">
                {% for feature in features %}
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            {{feature.icon.get_icon_tag|safe}}
                        </div>
                        <a href="{{feature.get_absolute_url}}">
                            <h4 class="info-title farsi">{{feature.title}}</h4>
                        </a>
                        <p class="text-center">
                            {{feature.short_description|safe}}
                        </p>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
        <!--     *********    END FEATURES 1      *********      -->

    </div>
    <div class="container">
        <div class="row rtl">
            <div class="col-lg-4">
                <div class="rotating-card-container" style="margin-bottom: 30px;">
                    <div class="card card-rotate">
                        <div class="front" style="width: 350px;">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success farsi text-right">
                                    <i class="fa fa-newspaper-o"></i> پروژه 1
                                </h5>
                                <h4 class="card-title farsi">
                                    <a href="#pablo">مدیریت پروژه چیست؟</a>
                                </h4>
                                <p class="card-description">

                                    ریشه‌ی مدیریت پروژه به روش‌ها و فرآیندهایی برمی‌گردد که حدود صد سال پیش در کسب‌و‌کار
                                    توسعه پیدا کردند. با این حال، در سال‌های اخیر، مدیریت پروژه رشد چشمگیری داشته و به
                                    عنوان یک عملیات مجزا و جدی در تجارت ظهور کرده است و در صحنه‌ی تجارت جهانی، یعنی جایی
                                    که شرکت‌ها دائما به دنبال رسیدن به مزیت رقابتی هستند، به یک عامل کلیدی تبدیل شده
                                    است. در مقاله زیر با مفهوم مدیریت پروژه بیشتر آشنا خواهید شد.


                                </p>
                            </div>
                        </div>
                        <div class="back" style="width: 350px;">
                            <div class="card-body">
                                <h5 class="card-title farsi">
                                    ادامه مطلب
                                </h5>
                                <p class="card-description">
                                    ریشه‌ی مدیریت پروژه به روش‌ها و فرآیندهایی برمی‌گردد که حدود صد سال پیش در کسب‌و‌کار
                                    توسعه پیدا کردند. با این حال، در سال‌های اخیر، مدیریت پروژه رشد چشمگیری داشته و به
                                    عنوان یک عملیات مجزا و جدی در تجارت ظهور کرده است و در صحنه‌ی تجارت جهانی، یعنی جایی
                                    که شرکت‌ها دائما به دنبال رسیدن به م خواهید شد.


                                </p>
                                <div class="footer text-center">
                                    <a href="#pablo" class="btn btn-rose btn-round">
                                        <i class="material-icons">subject</i> Read
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="rotating-card-container" style="margin-bottom: 30px;">
                    <div class="card card-rotate bg-success">
                        <div class="front" style="width: 350px;">
                            <div class="card-body1">
                                <img class="rounded w-100" src="{% static 'material/img/blog5.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="back" style="width: 350px;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Do more...
                                </h5>
                                <p class="card-description">
                                    You can read this article or share it with your friends and family on different
                                    networks...
                                </p>
                                <div class="footer text-center">
                                    <a href="#pablo" class="btn btn-rose btn-round">
                                        <i class="material-icons">subject</i> Read
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="rotating-card-container" style="margin-bottom: 30px;">
                    <div class="card card-rotate bg-rose">
                        <div class="front" style="width: 350px;">
                            <div class="card-body">
                                <h5 class="card-category card-category-social">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">"Dribbble just acquired Crew, a very interesting startup..."</a>
                                </h4>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the
                                    back is...
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="{{profile.image}}" alt="..." class="avatar img-raised">
                                        <span>Tania Andrew</span>
                                    </a>
                                </div>
                                <div class="stats ml-auto">
                                    <i class="material-icons">favorite</i> 2.4K ·
                                    <i class="material-icons">share</i> 45
                                </div>
                            </div>
                        </div>
                        <div class="back" style="width: 350px;">
                            <div class="card-body">
                                <h5 class="card-category card-category-social">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">"Dribbble just acquired Crew, a very interesting startup..."</a>
                                </h4>
                                <div class="stats">
                                    <button type="button" name="button" class="btn btn-white btn-fill btn-round">
                                        <i class="material-icons">subject</i> Read
                                    </button>
                                    <button type="button" name="button" class="btn btn-white btn-round btn-link">
                                        <i class="material-icons">bookmark</i> Bookmark
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>