{% load static %}
<!-- features -->
<div class="cd-section" id="features">
    <div class="container">
        <!--     *********     FEATURES 1      *********      -->
        <div class="features-1">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title farsi">
                        آشنایی با سرویس های ما
                        {% if perms.dashboard.add_ourteam %}

                        {{admin_utility.get_add_feature|safe}}

                        {% endif %}
                    </h2>
                    <h5 class="description">

                        ریشه‌ی مدیریت پروژه به روش‌ها و فرآیندهایی برمی‌گردد که حدود صد سال پیش در کسب‌و‌کار توسعه پیدا
                        کردند. با این حال، در سال‌های اخیر، مدیریت پروژه رشد چشمگیری داشته و به عنوان یک عملیات مجزا و
                        جدی در تجارت ظهور کرده است و در صحنه‌ی تجارت جهانی، یعنی جایی که شرکت‌ها دائما به دنبال رسیدن به
                        مزیت رقابتی هستند، به یک عامل کلیدی تبدیل شده است. در مقاله زیر با مفهوم مدیریت پروژه بیشتر آشنا
                        خواهید شد.




                    </h5>
                </div>
            </div>
            <div class="row rtl">
                {% for feature in features %}
                <div class="col-md-4">
                    <div class="info">
                        <a href="{{feature.get_absolute_url}}">

                        <div class="icon icon-info">
                            {{feature.icon.get_icon_tag|safe}}
                        </div>
                        </a>
                        <a href="{{feature.get_absolute_url}}">
                            <h4 class="info-title farsi">{{feature.title}}</h4>
                        </a>
                        {% if feature.short_description %}
                        <p class="text-center">
                            {{feature.short_description|safe}}
                        </p>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="row rtl">
                {% for feature in features %}


                <div class="col-md-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate">
                            <div class="front" style="width: 395px;">
                                <div class="card-body1">
                                    <img class="rounded w-100" src="{{feature.thumbnail}}" alt="">
                                </div>
                            </div>
                            <div class="back" style="width: 395px;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{feature.title}}
                                    </h5>
                                    {% if feature.short_description %}
                                    <p class="card-description text-center">
                                        {{feature.short_description}}
                                    </p>
                                    {% endif %}
                                    <p class="card-description text-center">

                                        {{feature.persian_date_added_tag|safe}}

                                    </p>

                                    {% if feature.profile %}
                                    <p class="card-description text-center">
                                        <a href="{{feature.profile.get_absolute_url}}">

                                            <img alt="64x64" src="{{feature.profile.image}}" width="32"
                                                class="rounded-circle shadow">

                                            <b> {{feature.profile.name}}</b>
                                        </a>
                                    </p>
                                    {% endif %}
                                    <div class="footer text-center">
                                        <a href="{{feature.get_absolute_url}}" class="btn btn-rose btn-round">
                                            <i class="material-icons">subject</i> بیشتر
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-round btn-dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <!--     *********    END FEATURES 1      *********      -->

    </div>

</div>