{% load static %}

<!-- HEADER -->
<div class="cd-section" id="headers">


    <!--     *********     HEADER 3      *********      -->
    <div class="header-3">


        <!-- Carousel Card -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for homeslider in homesliders %}
                <li data-target="#carouselExampleIndicators" id="carousel-indicator{{forloop.counter0}}"
                    data-slide-to="{{forloop.counter0}}" class=""></li>

                {% endfor %}

            </ol>
            <div class="carousel-inner">
                {% for homeslider in homesliders %}
                <div id="carousel-item{{forloop.counter0}}" class="carousel-item">
                    <div class="page-header header-filter" style="background-image: url('{{homeslider.image}}');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                   {% if perms.dashboard.add_ourteam %}
                       
                                        {{admin_utility.get_add_homeslider|safe}}
                                   
                                    {% endif %} 

                                    {% if homeslider.title %}
                                       <h1 class="title farsi" style="color: {{homeslider.text_color}};">
                                        {{homeslider.title}}
                                        
                                    </h1>
                                    {% endif %}
                                   

                                    
                                    <div style="color: {{homeslider.text_color}};">{{homeslider.body|safe}}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- End Carousel Card -->
    </div>
    <!--     *********    END HEADER 3      *********      -->
</div>