{% extends "tutorial/index.html" %}
{% load static %}

{% block content_child %}
<div class="card card-stats">
    <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
            <i class="material-icons">store</i>
        </div>
        <p class="card-category">راهنما</p>
        <h3 class="card-title">افزودن لوکیشن برای پروژه ها </h3>
    </div>
    <div class="card-body">



        <p>

           </p>
        <p>

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex accusantium maiores incidunt eum, molestias
            saepe.
            Excepturi impedit officia cupiditate molestiae, temporibus, enim libero quis corrupti quae exercitationem
            accusamus
            velit nisi!

        </p>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
        </div>
    </div>
</div>


{% endblock %}