{% extends "dashboard/layout.html" %}
{% block content %}
<div class="row">
  <div class="col-12">

    <div class="text-right rtl">
      <a class="btn btn-success" href="{% url 'projectmanager:organizationchart' %}">چارت سازمانی</a>

    </div>
  </div>
</div>
<div class="text-right rtl">
  {% for org_unit in organization_units %}
  {{org_unit.get_template|safe}}
  {% endfor %}
</div>
{% endblock  %}
{% block script %}
<script>
  $("#projectmanagerPages").addClass("show")
  $("#nav-item-projectmanager-organizationunits").addClass('active')
</script>


{% endblock  %}