{% extends "dashboard/layout.html" %}
{% load static %}
{% block head %}

{% endblock  %}


{% block ofBar %}
<!-- <div id="ofBar">🔥<b>Summer Bundles ON </b> 🔥Grab the hottest deals of the season and <b>save up to 90%</b>! 💣<a href="https://www.creative-tim.com/campaign?ref=lp-campaign" target="_blank" id="btn-bar">View Offers</a><a id="close-bar">×</a></div> -->

{% endblock ofBar %}


{% block content %}
<p class="text-center text-secondary">
    {{page_type}}
</p>
{% if page.parent %}
<div class="text-center" style="font-size: 0.8em;">
    {{page.parent.get_breadcrumb_url|safe}}
</div>

{% endif %}

<h3 class="title text-center ">
    <span class="mx-2 text-{{page.color}}">{{page.icon.get_icon_tag|safe}}</span>
    <span class="text-{{page.color}}">{{page.title}}</span>

</h3> {% if perms.projectmanager.change_managerpage %}

<div class="text-center">
    <a class="btn btn-link btn-warning" title="ویرایش" href="{{page.get_edit_url}}">
        <i class="material-icons">settings</i>
        ویرایش
    </a>
    <a class="btn btn-link btn-warning" title="ویرایش" href="{{page.get_presentation_url}}">
        <i class="material-icons">dashboard</i>
        نمایش
    </a>

</div>
<div class="">
    <div class="row rtl">
        <div class="col-12">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <p class="card-category">{{page.title}}</p>
                    <h3 class="card-title">توضیحات</h3>
                </div>
                <div class="card-body">
                    <div id="accordion" role="tablist">
                        <div class="card-collapse">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0 text-right">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne" class="collapsed">
                                        شرح کوتاه
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body farsi px-4">
                                    {{page.short_description|safe}}

                                </div>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0 text-right">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        شرح کامل
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body farsi px-4">
                                    {{page.description|safe}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>



    </div>

</div>
{% block child_content %}

{% endblock  %}

{% endif %}
<div id="app">


    <div class="row rtl">
        <!-- links -->
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-link"></i>
                    </div>
                    <p class="card-category">{{page.title}}</p>
                    <h3 class="card-title"> لینک</h3>
                </div>
                <div class="card-body">

                    <h4 class="mt-3 farsi text-right">لینک ها</h4>
                    <templates v-for="link in links">
                        <div class="mr-4 mb-3" v-html="link.get_link">

                        </div>
                    </templates>
                    {% if add_link_form %}
                    <form id="add-link-form" @submit.prevent="add_link">
                        <div>
                            <input placeholder="عنوان لینک" type="text" class="form-control" v-model="link_title">
                            <input placeholder="آدرس لینک" type="text" class="form-control" v-model="link_url">
                            <button v-if="link_url && link_title" class="btn btn-warning btn-round"
                                type="submit">تایید</button>
                        </div>
                    </form>
                    {% endif %}

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                </div>
            </div>
        </div>

        <!-- downloads -->
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </div>
                    <p class="card-category">{{page.title}}</p>
                    <h3 class="card-title">دانلود</h3>
                </div>
                <div class="card-body">



                    <h4 class="mt-3 farsi text-right">دانلود ها</h4>
                    <templates v-for="document in documents">
                        <div class="mr-4">
                            <a v-if="document.profile" :title="document.profile.name"
                                :href="document.profile.get_absolute_url">
                                <img :src="document.profile.image" class="rounded-circle" width="32px">
                            </a>
                            <a :href="document.get_download_url" class="btn btn-success btn-link ">
                                <i class="material-icons text-success">get_app</i>
                                {% verbatim %}
                                {{document.title}}
                                {% endverbatim %}
                            </a>
                        </div>
                    </templates>
                    {% if add_document_form %}
                    <form id="add-document-form" @submit.prevent="add_document" enctype="multipart/form-data">
                        <div>
                            <input placeholder="عنوان فایل دانلود" type="text" name="title" class="form-control"
                                v-model="document_title">

                            <div>
                                <span class="btn btn-raised btn-round btn-default btn-file">
                                    <span class="fileinput-new">انتخاب فایل</span>
                                    <input type="hidden" value="" name="..."><input type="file" v-model="document_file"
                                        name="">
                                    <div class="ripple-container"></div>
                                </span>

                                <button v-if="(document_file && document_title) || false" class="btn btn-info btn-round"
                                    type="submit">آپلود</button>

                            </div>

                            <!-- <div>
                                <span class="btn btn-raised btn-round btn-default btn-file">
                                    <span class="fileinput-new">Add Photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file"  v-model="document_file" name="">
                                    <input type="hidden"  value="" name="...">
                                <div class="ripple-container"></div></span>
                                <br>
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists google-drive-opener" data-dismiss="fileinput">
                                    <i class="fa fa-times"></i> Remove
                                </a>
                            </div> -->



                            <!-- <div class="form-group has-default form-file-upload form-file-simple bmd-form-group">
                                <input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                                <input type="file"  name="file" id="document-file1" v-model="document_file" class="inputFileHidden">
    
                            </div> -->




                        </div>
                    </form>
                    {% endif %}
                    <p>
                        <a href="{{page.get_download_url}}" class="btn btn-success btn-round">
                            <i class="material-icons">get_app</i>
                            دانلود

                        </a>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                </div>
            </div>
        </div>


        <!-- tags -->
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-tags"></i>
                    </div>
                    <p class="card-category">{{page.title}}</p>
                    <h3 class="card-title">تگ </h3>
                </div>
                <div class="card-body">
                    <h4 class="mt-3 farsi text-right">تگ ها</h4>


                    <div class="mr-4 bootstrap-tagsinput rose-badge">
                        <template v-for="tag in tags">

                            {% verbatim %}
                            <span class="tag badge mx-2">
                                <a :href="tag.get_projectmanager_url" class="text-light">
                                    {{tag.title}}
                                </a>

                                <span @click="remove_tag(tag.id)" data-role="remove"></span>
                            </span>





                            {% endverbatim %}
                        </template>


                        <form class="d-inline mx-2" v-on:submit.prevent="add_tag">
                            <span class="bmd-form-group"><input v-model="tag_title" type="text" class="form-control"
                                    placeholder="تگ جدید"></span>
                        </form>
                    </div>




                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% if page.images.all or add_image_form %}
    <h3 class="farsi text-center">تصویر ها</h3>
    <div class="text-center">
        <button class="btn btn-link btn-info" @click="show_add_image_panel=!show_add_image_panel">
            <i class="fa fa-plus-circle"></i>
        </button>
    </div>
    <br>
    {% endif %}



    <div class="row">

        {% if add_image_form %}
        <div class="col-md-4" v-if="show_add_image_panel">
            <form id="add-image-form" @submit.prevent="add_image">

                <div class="card">



                    <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                            <img src="{% static 'dashboard/img/image_placeholder.jpg' %}" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised" style=""></div>
                        <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">انتخاب تصویر</span>
                                <span class="fileinput-exists">انتخاب تصویر</span>
                                <input type="hidden" value="" name="..."><input type="file" name="">
                                <div class="ripple-container"></div>
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i> انصراف<div class="ripple-container">
                                    <div class="ripple-decorator ripple-on ripple-out"
                                        style="left: 32.1562px; top: 27.1562px; background-color: rgb(255, 255, 255); transform: scale(15.5077);">
                                    </div>
                                </div></a>
                        </div>
                    </div>

                    <div class="mx-3">
                        <input placeholder="عنوان تصویر" type="text" class="form-control" v-model="image_title">
                        <input placeholder="توضیحات" type="text" class="form-control" v-model="image_description">
                        <input placeholder="موقعیت  مکانی تصویر" type="text" class="form-control"
                            v-model="image_location">
                        <button class="btn btn-success btn-round"
                            v-if="image_title && image_description && image_location" type="submit">
                            <i class="fa fa-upload"></i>
                            تایید</button>

                    </div>

                </div>














                <!-- <div class="card card-product" data-count="0">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a target="_blank" href="{{image.get_absolute_url}}">
                            <img class="img" src="{{image.thumbnail}}">

                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-actions text-center">

                            <button type="button" class="btn btn-danger btn-link fix-broken-card">
                                <i class="material-icons">build</i> بروزرسانی سربرگ
                            </button>
                            <a target="_blank" href="{{image.get_absolute_url}}">
                                <button type="button" class="btn btn-default btn-link" rel="tooltip"
                                    data-placement="bottom" title="" data-original-title="نمایش">
                                    <i class="material-icons">art_track</i>
                                </button>
                            </a>
                            <a target="_blank" href="{{image.get_edit_url}}">
                                <button type="button" class="btn btn-success btn-link" rel="tooltip"
                                    data-placement="bottom" title="" data-original-title="ویرایش">
                                    <i class="material-icons">edit</i>
                                </button>
                            </a>

                            <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom"
                                title="" data-original-title="حذف">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        {% if image.image_title %}

                        <h4 class="card-title  text-right ">
                            <a href="{{image.get_absolute_url}}">{{image.image_title}}</a>
                        </h4>
                        {% endif %}
                        {% if image.image_description %}
                        <div class="card-description farsi text-right">
                            {{image.image_description}}
                        </div>
                        {% endif %}

                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4> </h4>
                        </div>
                        <div class="stats">
                            <p class="card-category">
                                <i class="material-icons">place</i> {{image.location}}
                            </p>
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
        {% endif %}





        <div class="col-md-4" v-for="image in images">
            <div class="card card-product" data-count="0">
                <div class="card-header card-header-image" data-header-animation="true">
                    <a target="_blank" :href="image.get_absolute_url">
                        <img class="img" :src="image.thumbnail">

                    </a>
                </div>
                <div class="card-body">
                    <div class="card-actions text-center">

                        <button type="button" class="btn btn-danger btn-link fix-broken-card">
                            <i class="material-icons">build</i> بروزرسانی سربرگ
                        </button>
                        <a target="_blank" :href="image.get_absolute_url">
                            <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                                title="" data-original-title="نمایش">
                                <i class="material-icons">art_track</i>
                            </button>
                        </a>
                        <a target="_blank" :href="image.get_edit_url">
                            <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom"
                                title="" data-original-title="ویرایش">
                                <i class="material-icons">edit</i>
                            </button>
                        </a>

                        <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom"
                            title="" data-original-title="حذف">
                            <i class="material-icons">close</i>
                        </button>
                    </div>

                    <h4 class="card-title  text-right ">
                        <a :href="image.get_absolute_url" target="_blank" v-text="image.image_title"></a>
                    </h4>

                    <div class="card-description farsi text-right" v-html="image.image_description">

                    </div>


                </div>
                <div class="card-footer">
                    <div class="price">

                        <a v-if="image.profile" :href="image.profile.get_absolute_url" :title="image.profile.name">
                            {% verbatim %}
                            <small>
                                <small>
                                    {{image.profile.name}}
                                </small>
                            </small>
                            {% endverbatim %}
                            <img :src="image.profile.image" class="rounded-circle" width="32px">
                        </a>

                    </div>
                    <div class="stats">
                        <div class="card-category">
                            <div class="text-right rtl">
                                <i class="material-icons">place</i>
                                <span v-text="image.location"></span>

                            </div>
                            <div class="text-right rtl">
                                <i class="material-icons">today</i>

                                <span class="text-secondary mr-2" v-text="image.persian_date_added"></span>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock  %}



{% block modal %}

{% endblock  %}



{% block script %}

<script>

    $("#projectmanagerPages").addClass("show")
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>

<script>
    let page_id = parseInt(`{{page.id}}`)


    var app = new Vue({
        el: "#app",
        data: {
            tags: JSON.parse(`{{tags_s|escapejs}}`),
            links: JSON.parse(`{{links_s|escapejs}}`),
            documents: JSON.parse(`{{documents_s|escapejs}}`),
            images: JSON.parse(`{{images_s|escapejs}}`),
            tag_title: '',
            document_title: '',
            document_file: '',
            link_title: '',
            link_url: '',
            image_title: '',
            image_description: '',
            image_location: '',
            show_add_image_panel: false,
        },
        methods: {
            add_document: function () {
                let title = app.document_title
                let url = "{% url 'dashboard:add_document' %}"
                let formData = new FormData();
                let file1 = $('#add-document-form')[0].elements[2].files[0]
                formData.append("file1", file1);
                formData.append("title", title);
                formData.append("csrfmiddlewaretoken", csrfmiddlewaretoken);
                formData.append("page_id", page_id);

                $.ajax({
                    url: url,
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response != 0) {
                            if (response.result === 'SUCCEED') {
                                console.log(response)
                                app.documents = response.documents
                                // alert('file uploaded');
                                app.document_title = ''
                                app.document_file = ''
                            }
                        }
                        else {
                            // alert('file not uploaded');
                        }
                    },
                });

            }, add_link: function () {
                let title = app.link_title
                let url = "{% url 'dashboard:add_link' %}"
                let link_url = app.link_url

                var posting = $.post(url,
                    {
                        title: title,
                        url: link_url,
                        page_id: page_id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    if (data.result === 'SUCCEED') {
                        app.links = data.links
                        app.link_title = ''
                        app.link_url = ''
                    }
                    else
                        console.log(data)
                })


            },
            remove_tag: function (tag_id) {
                let url = "{% url 'dashboard:remove_tag' %}"

                var posting = $.post(url,
                    {
                        tag_id: tag_id,
                        page_id: page_id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    console.log(data)
                    if (data.result === 'SUCCEED')
                        app.tags = data.tags
                })


            },
            add_tag: function (tag_id) {

                let url = "{% url 'dashboard:add_tag' %}"

                var posting = $.post(url,
                    {
                        title: app.tag_title,
                        page_id: page_id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    console.log(data)

                    if (data.result === 'SUCCEED') {
                        app.tags = data.tags
                        app.tag_title = ''
                    }
                })


            },
            add_image: function () {
                let title = app.image_title
                let description = app.image_description
                let location = app.image_location
                let url = "{% url 'dashboard:add_image' %}"
                let formData = new FormData();
                let image = $('#add-image-form')[0].elements[2].files[0]
                let thumbnail = $('#add-image-form')[0].elements[2].files[0]
                formData.append("thumbnail", thumbnail);
                formData.append("image", image);
                formData.append("title", title);
                formData.append("description", description);
                formData.append("location", location);
                formData.append("csrfmiddlewaretoken", csrfmiddlewaretoken);
                formData.append("page_id", page_id);

                $.ajax({
                    url: url,
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response != 0) {
                            if (response.result === 'SUCCEED') {
                                app.images = response.images
                                // alert('file uploaded');
                                app.image_title = ''
                                app.image_description = ''
                                // app.image_location = ''
                                app.show_add_image_panel = false
                            }
                        }
                        else {
                            console.log(data)
                        }
                    },
                });


            }
        },
    })
</script>

{% block child_script %}

{% endblock %}
{% endblock  %}