{% extends "projectmanager/page.html" %}
{% load to_persian_date %}
{% load static %}
{% block child_content %}
<div class="row rtl" id="project-app">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title farsi text-right">زیرمجموعه ها -
                    <small class="description">صفحه ای جزیی</small>
                </h4>
            </div>
            <div class="card-body ">




                {% for child_page in page.childs.all %}
                {{child_page.get_link|safe}}
                {% endfor %}
                <template v-for="project in projects">
                    <div v-html="project.get_link"></div>


                </template>
                {% if add_project_form %}
                <form class="mt-5 mx-5" @submit.prevent="add_project">
                    <div class="form-group bmd-form-group">
                        <label for="exampleInput1" class="bmd-label-floating">نام پروژه زیرمجموعه جدید</label>

                        <input type="hidden" name="parent_id" value="{{page.id}}">
                        <input v-model="project_title" type="text" class="form-control" name="title" required=""
                            aria-required="true">


                    </div>
                    <button type="submit" class="btn btn-rose btn-round">افزودن</button>
                </form>
                {% endif %}


            </div>
        </div>

        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">place</i>
                </div>
                <p class="card-category">
                    {{project.title}}
                </p>
                <h3 class="card-title">موقعیت در نقشه</h3>
            </div>


            <div class="card-body ">




                <div v-html="current_location">

                </div>
                <div class="">
                    <a href="https://www.google.com/maps">استفاده از نقشه</a>
                </div>
                {% if add_location_form %}
                <form @submit.prevent="add_location">
                    <input placeholder="موقعیت" type="text" class="form-control" v-model="location">

                    <button v-if="location" class="btn btn-success btn-round" type="submit">تایید</button>
                </form>
                {% endif %}


            </div>
        </div>


        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i aria-hidden="true" class="material-icons">engineering</i>
                </div>
                <p class="card-category">
                    {{project.title}}
                </p>
                <h3 class="card-title">پیمانکاران</h3>
            </div>
            <div class="card-body">
                <template v-for="contractor in contractors" v-html="contractor.get_link">
                    <p class="mr-4">

                        <a :class="'text-'+contractor.color" :href="contractor.get_absolute_url">
                            <i class="mx-2 text-success material-icons">engineering</i>
                            {% verbatim %}
                            {{contractor.title}}
                            {% endverbatim %}

                        </a>
                    </p>
                </template>

            </div>
            <div class="card-footer">
                <div class="stats"><i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>




    </div>
    <div class="col-md-6">

        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-briefcase"></i>
                </div>
                <p class="card-category">{{page.title}}</p>
                <h3 class="card-title">
                    اطلاعات تکمیلی

                </h3>
            </div>
            <div class="card-body">
                {% if edit_project_timing_form %}


                <form @submit.prevent="edit_project_timing">


                    <div class="row">
                        <div class="col-6">
                            <span class="farsi text-secondary">

                                شروع :
                            </span>
                            <date-picker v-model="start_date"></date-picker>
                        </div>
                        <div class="col-6">
                            <span class="farsi text-secondary">

                                پایان :

                            </span>

                            <date-picker v-model="end_date"></date-picker>
                        </div>
                        <div class="col-6 mt-3">
                            <span class="farsi text-secondary">

                                میزان پیشرفت پروژه :

                            </span>

                            <input type="number" min="0" max="100" class="form-control" v-model="percent">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-rounded btn-info">تایید</button>
                    </div>
                </form>
                {% else %}
                sdsddddddddddddddd
                {% endif %}
            </div>
            <div class="card-footer">
                assad
            </div>

        </div>


        <div>
            <h3 class="text-center farsi">رویداد ها و وقایع</h3>
            <ul class="timeline timeline-simple">

                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="material-icons">settings</i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="badge badge-pill badge-danger">
                                <input type="text" v-model="event_title" class="form-control text-light"
                                    placeholder="عنوان رویداد" id="event-title">
                            </span>
                            <div class="text-secondary" style="float: right;">
                                <small>
                                </small>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <date-picker v-model="selected_date"></date-picker>


                            <input type="text" v-model="event_description" class="form-control" placeholder="شرح رویداد"
                                id="event-description">

                        </div>
                        <button @click="add_event" class="btn btn-light btn-sm btn-round"
                            href="{{event.get_absolute_url}}">
                            <i class="material-icons">description</i>
                            <small>
                                <small>
                                    افزودن
                                </small>
                            </small>
                        </button>
                    </div>
                </li>

                <li class="timeline-inverted" v-for="event in events" v-html="event.get_tag">


                </li>




            </ul>
        </div>

    </div>




    <div class="col-12">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i aria-hidden="true" class="material-icons">engineering</i>
                </div>
                <p class="card-category">
                    {{project.title}}
                </p>
                <h3 class="card-title">گانت چارت 2</h3>
            </div>
            <div class="card-body">
                <a target="_blank" href="{{project.get_guantt_url}}">نمایش نمودار گانت</a>





            </div>
            <div class="card-footer">
                <div class="stats"><i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock  %}

{% block child_script %}

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script>
    $("#nav-item-projectmanager-projects").addClass('active')


    let project_id = JSON.parse("{{page.id}}")
    var current_date = '{{current_date}}'
    let project_app = new Vue({
        el: "#project-app",
        data: {
            selected_date: current_date,
            start_date: "{{project.persian_start_date}}",
            end_date: "{{project.persian_end_date}}",
            percent: parseInt("{{project.percent}}"),
            projects: [],
            project_title: '',
            location: '',
            event_title: '',
            event_description: '',
            current_location: `{{project.location|escapejs}}`,
            events: JSON.parse(`{{events_s|escapejs}}`),
            contractors: JSON.parse(`{{contractors_s|escapejs}}`),
        },
        components: {
            DatePicker: VuePersianDatetimePicker
        },
        methods: {
            edit_project_timing: function () {


                let url = "{% url 'projectmanager:edit_project_timing' %}"

                var posting = $.post(url,
                    {
                        project_id: project_id,
                        start_date: project_app.start_date,
                        end_date: project_app.end_date,
                        percent: project_app.percent,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    // console.log(data)
                    // word_app.word = (data.word);
                    // word_app.definitions = (data.definitions);
                    if (data.result === 'SUCCEED') {
                        project_app.start_date = data.start_date
                        project_app.end_date = data.end_date
                        project_app.percent = data.percent



                        swal({
                            title: "زمان بندی پروژه",
                            text: "زمان بندی پروژه با موفقیت اصلاح شد.",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success"
                        }).catch(swal.noop)
                    }
                })


            },
            add_project: function () {
                let url = "{% url 'projectmanager:add_project' %}"

                var posting = $.post(url,
                    {
                        parent_id: project_id,
                        title: project_app.project_title,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {

                    // word_app.word = (data.word);
                    // word_app.definitions = (data.definitions);
                    if (data.result === 'SUCCEED') {
                        project_app.project_title = ""
                        project_app.projects.push(data.project)
                    }
                })
            },
            add_event: function () {
                let url = "{% url 'projectmanager:add_event' %}"
                console.log({
                    project_id: project_id,
                    title: project_app.event_title,
                    short_description: project_app.event_description,
                    event_date: project_app.selected_date,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                })
                var posting = $.post(url,
                    {
                        project_id: project_id,
                        title: project_app.event_title,
                        short_description: project_app.event_description,
                        event_date: project_app.selected_date,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    console.log(data)
                    // word_app.word = (data.word);
                    // word_app.definitions = (data.definitions);
                    if (data.result === 'SUCCEED') {
                        project_app.event_title = ""
                        project_app.event_description = ""
                        project_app.events = data.events
                    }
                })
            },
            add_location: function () {
                let url = "{% url 'projectmanager:add_location' %}"
                var posting = $.post(url,
                    {
                        location: project_app.location,
                        page_id: project_id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {


                    if (data.result === 'SUCCEED') {
                        project_app.current_location = data.location
                        project_app.location = ''
                    }
                })
            }

        },
    })
</script>




<script type="text/javascript" src="{% static 'projectmanager/charts/loader.js' %}"></script>

{% endblock %}