{% extends "projectmanager/page.html" %}
{% load to_persian_date %}
{% load static %}
{% block child_content %}
<div class="row rtl" id="project-app">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title farsi text-right">زیرمجموعه ها -
                    <small class="description">صفحه ای جزیی</small>
                </h4>
            </div>
            <div class="card-body ">




                {% for child_page in page.childs.all %}
                {{child_page.get_link|safe}}
                {% endfor %}
                <template v-for="project in projects">
                    <div v-html="project.get_link"></div>


                </template>
                {% if add_project_form %}
                <form class="mt-5 mx-5" @submit.prevent="add_project">
                    <div class="form-group bmd-form-group">
                        <label for="exampleInput1" class="bmd-label-floating">نام پروژه زیرمجموعه جدید</label>

                        <input type="hidden" name="parent_id" value="{{page.id}}">
                        <input v-model="project_title" type="text" class="form-control" name="title" required=""
                            aria-required="true">


                    </div>
                    <button type="submit" class="btn btn-rose btn-round">افزودن</button>
                </form>
                {% endif %}


            </div>
        </div>


        <div class="card">
            <div class=" card-header ">
                <h4 class=" card-title farsi text-right">موقعیت -
                    <small class="description">نقاط مشخص در نقشه گوگل</small>
                </h4>
            </div>
            <div class="card-body ">




                <div v-html="current_location">

                </div>

                {% if add_location_form %}
                <form @submit.prevent="add_location">
                    <input placeholder="موقعیت" type="text" class="form-control" v-model="location">

                    <button v-if="location" class="btn btn-success btn-round" type="submit">تایید</button>
                </form>
                {% endif %}


            </div>
        </div>



    </div>
    <div class="col-md-6">
        <h3 class="text-center farsi">رویداد ها و وقایع</h3>
        <ul class="timeline timeline-simple">
            {% for event in project.events.all %}
            <li class="timeline-inverted">
                <div class="timeline-badge {{event.color}}">
                    {{event.icon.get_icon_tag|safe}}
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span class="badge badge-pill badge-danger">
                            {{event.title}}
                        </span>
                        <span class="text-secondary" style="float: right;">
                            <small>
                                {{event.date_added|to_persian_date|safe}}
                            </small> </span>
                    </div>
                    <div class="timeline-body">
                        {{event.short_description|safe}}
                    </div>
                    <a class="btn btn-light btn-sm btn-round" href="{{event.get_absolute_url}}">
                        <i class="material-icons">description</i>
                        <small>
                            <small>
                                جزییات بیشتر
                            </small>
                        </small>
                    </a>
                </div>
            </li>
            {% endfor %}

            <li class="timeline-inverted">
                <div class="timeline-badge success">
                    <i class="material-icons">settings</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span class="badge badge-pill badge-danger">
                            <input type="text" v-model="event_title" class="form-control text-light" placeholder="عنوان رویداد" id="event-title">
                        </span>
                        <div class="text-secondary" style="float: right;">
                            <small>
                                <date-picker v-model="selected_date"></date-picker>
                            </small>
                        </div>
                    </div>
                    <div class="timeline-body">
                        <input type="text" v-model="event_description" class="form-control" placeholder="شرح رویداد" id="event-description">

                    </div>
                    <button @click="add_event" class="btn btn-light btn-sm btn-round" href="{{event.get_absolute_url}}">
                        <i class="material-icons">description</i>
                        <small>
                            <small>
                                افزودن
                            </small>
                        </small>
                    </button>
                </div>
            </li>

        </ul>


    </div>
</div>

{% endblock  %}

{% block child_script %}

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script>
    let project_id = JSON.parse("{{page.id}}")
    var current_date = '{{current_date}}'
    let project_app = new Vue({
        el: "#project-app",
        data: {
            selected_date: current_date,
            projects: [],
            project_title: '',
            location: '',
            event_title: '',
            event_description: '',
            current_location: `{{project.location|escapejs}}`,
            events: `{{events_s|escapejs}}`,
        },
        components: {
            DatePicker: VuePersianDatetimePicker
        },
        methods: {
            add_project: function () {
                let url = "{% url 'projectmanager:add_project' %}"

                var posting = $.post(url,
                    {
                        parent_id: project_id,
                        title: project_app.project_title,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {

                    // word_app.word = (data.word);
                    // word_app.definitions = (data.definitions);
                    if (data.result === 'SUCCEED') {
                        project_app.project_title = ""
                        project_app.projects.push(data.project)
                    }
                })
            },
            add_event: function () {
                let url = "{% url 'projectmanager:add_event' %}"
                console.log({
                    project_id: project_id,
                    title: project_app.event_title,
                    short_description: project_app.event_description,
                    event_date: project_app.selected_date,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                })
                var posting = $.post(url,
                    {
                        project_id: project_id,
                        title: project_app.event_title,
                        short_description: project_app.event_description,
                        event_date: project_app.selected_date,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    console.log(data)
                    // word_app.word = (data.word);
                    // word_app.definitions = (data.definitions);
                    if (data.result === 'SUCCEED') {
                        project_app.event_title = ""
                        project_app.event_description = ""
                        project_app.events = data.events
                    }
                })
            },
            add_location: function () {
                let url = "{% url 'projectmanager:add_location' %}"
                var posting = $.post(url,
                    {
                        location: project_app.location,
                        page_id: project_id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {


                    if (data.result === 'SUCCEED') {
                        project_app.current_location = data.location
                        project_app.location = ''
                    }
                })
            }

        },
    })
</script>
{% endblock %}