<ul class="float-right rtl">
    <li>
        <a href="{% url 'app:home' %}">
           Home
        </a>
    </li>
    <li>
        <a href="#pablo">
           Blogs
        </a>
    </li>
    <li>
        <a href="{% url 'app:home' %}">
        Our Works
        </a>
    </li>
    <li>
        <a href="{% url 'app:about' %}">
            About Us
        </a>
    </li>
    <li>
        <a href="{% url 'app:contact' %}">
            Contact Us
        </a>
    </li>
</ul>
<div class="copyright rtl float-left text-left">
  <span class="farsi rtl">
    Developed By :
  </span>

    <a href="https://www.linkedin.com/in/hossein-moghimi-4597b973/" class="btn btn-linkedin">
        <i class="fa fa-linkedin-square"></i> KhafOnline
        <div class="ripple-container"></div></a>

</div>