{% extends "material/base-layout.html" %}

{% load static %}
{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&quot;{{parent.image_header}}&quot;); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title farsi">{{parent.name}}</h1>
            <h4 class="farsi">
              {{parent.description}}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="main main-raised">
    <div class="section">
      <div class="container">
        <h2 class="section-title farsi text-center">
          پیشنهاد ما برای شما
        </h2>
        <div class="row rtl">
         
         {% for product in parent.suggestions.all %}
            <div class="col-md-4">
            <div class="card card-product card-plain">
              <div class="card-header card-header-image">
                <a href="{{product.get_absolute_url}}">
                  <img src="{{product.thumbnail}}" alt="">
                </a>
              <div class="colored-shadow" style="background-image: url(&quot;{{product.thumbnail}}&quot;); opacity: 1;"></div></div>
              <div class="card-body text-center">
                <h4 class="card-title">
                  <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                </h4>
                <p class="card-description">
                  {{product.short_description}}
                  
                </p>
              </div>
              <div class="card-footer">
                <div class="price-container">
                  <span class="price price-old"> €1,430</span>
                  <span class="price price-new"> €743</span>
                </div>
                <div class="stats ml-auto">
                  <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                    <i class="material-icons">favorite</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
         
         {% endfor %}
         
          
         
          
        </div>
      </div>
    </div>
    
    <!-- section -->
    <div class="section">
      <div class="container">
        <h2 class="section-title text-center farsi">دسته بندی را انتخاب کنید</h2>
        <div class="row rtl">
          <div class="col-md-3">
            <div class="card card-refine card-plain card-rose">
              <div class="card-body">
                <h4 class="card-title">
                  Refine
                  <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                    <i class="material-icons">cached</i>
                  </button>
                </h4>
                <div id="accordion" role="tablist">
                  <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Price Range
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                      <div class="card-body card-refine">
                        <span id="price-left" class="price-left pull-left" data-currency="€">€101</span>
                        <span id="price-right" class="price-right pull-right" data-currency="€">€790</span>
                        <div class="clearfix"></div>
                        <div id="sliderRefine" class="slider slider-rose noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(8.16092%, 0px) scale(0.791954, 1);"></div></div><div class="noUi-origin" style="transform: translate(-918.391%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="30.0" aria-valuemax="790.0" aria-valuenow="101.0" aria-valuetext="101.00"><div class="noUi-touch-area"></div></div></div><div class="noUi-origin" style="transform: translate(-126.437%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="101.0" aria-valuemax="900.0" aria-valuenow="790.0" aria-valuetext="790.00"><div class="noUi-touch-area"></div></div></div></div></div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Clothing
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="card-body">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            Blazers
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Casual Shirts
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Formal Shirts
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Jeans
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Polos
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Pyjamas
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Shorts
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Trousers
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingThree">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Designer
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                      <div class="card-body">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            All
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Polo Ralph Lauren
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Wooyoungmi
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Alexander McQueen
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Tom Ford
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            AMI
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Berena
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Thom Sweeney
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Burberry Prorsum
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Calvin Klein
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Kingsman
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Club Monaco
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Dolce &amp; Gabbana
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Gucci
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Biglioli
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Lanvin
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Loro Piana
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Massimo Alba
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingFour">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Colour
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="card-body">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            All
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Black
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Blue
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Brown
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Gray
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Green
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Neutrals
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Purple
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">

                {% for category in categories %}
                  <div class="col-md-4">
                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                  <div class="card-header card-header-image">
                    <a href="{{category.get_absolute_url}}">
                      <img src="{{category.thumbnail}}" alt="...">
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="{{category.get_absolute_url}}">
                      <h4 class="card-title farsi">{{category.name}}

                        {% if perms.market.change_category %}
                          <a href="{{category.get_edit_url}}">
                              <i class="material-icons">settings</i>
                          </a>
                        {% endif %}
                      </h4>
                    </a>
                    <div class="description">
                        {{category.short_description|safe}}
                    </div>
                  </div>
                  <div class="card-footer justify-content-between">
                    <div class="price-container">
                      <span class="price"> € 800</span>
                    </div>
                    <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                      <i class="material-icons">favorite</i>
                    </button>
                  </div>
                </div> <!-- end card -->
              </div>
              
                {% endfor %}



                {% for product in products %}
                <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="{{product.get_absolute_url}}">
                    <img src="{{product.thumbnail}}" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="{{product.get_absolute_url}}">
                    <h4 class="card-title farsi">{{product.name}}

                      {% if perms.market.change_product %}
                        <a href="{{product.get_edit_url}}">
                            <i class="material-icons">settings</i>
                        </a>
                      {% endif %}
                    </h4>
                  </a>
                  <div class="description">
                      {{category.short_description|safe}}
                  </div>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price"> € 800</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                    <i class="material-icons">favorite</i>
                  </button>
                </div>
              </div> <!-- end card -->
            </div>
            
              {% endfor %}

              


             
            </div>
            <div class="row">
              <div class="col-md-3 ml-auto mr-auto">
                <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Load more...</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h2 class="section-title">News in fashion</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-background" style="background-image: url(../assets/img/examples/color1.jpg)">
              <div class="card-body">
                <h6 class="card-category text-info">Productivy Apps</h6>
                <a href="#pablo">
                  <h3 class="card-title">The best trends in fashion 2017</h3>
                </a>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-4">
            <div class="card card-background" style="background-image: url(../assets/img/examples/color3.jpg)">
              <div class="card-body">
                <h6 class="card-category text-info">Fashion News</h6>
                <h3 class="card-title">Kanye joins the Yeezy team at Adidas</h3>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-4">
            <div class="card card-background" style="background-image: url(../assets/img/examples/color2.jpg)">
              <div class="card-body">
                <h6 class="card-category text-info">Productivy Apps</h6>
                <a href="#pablo">
                  <h3 class="card-title">Learn how to use the new colors of 2017</h3>
                </a>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-6">
            <div class="card card-background" style="background-image: url(../assets/img/dg3.jpg)">
              <div class="card-body">
                <h6 class="card-category text-info">Tutorials</h6>
                <a href="#pablo">
                  <h3 class="card-title">Trending colors of 2017</h3>
                </a>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> Read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-6">
            <div class="card card-background" style="background-image: url(../assets/img/dg1.jpg)">
              <div class="card-body">
                <h6 class="card-category text-info">Productivy Style</h6>
                <a href="#pablo">
                  <h3 class="card-title">Fashion &amp; Style 2017</h3>
                </a>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                  <i class="material-icons">subject</i> read
                </a>
              </div>
            </div> <!-- end card -->
          </div>
        </div>
      </div>
    </div><!-- section -->
  </div>


  
<div class="section">
    <div class="container">
        <div class="row rtl">
            <div class="col-md-12">
                <h2 class="title text-center farsi">صفحه های مرتبط</h2>
                <br>
                <div class="row">
                    {% for related_page in page.related_pages.all %}
                    <div class="col-md-4">
                        <div class="card card-blog">
                            {% if related_page.thumbnail %}
                            <div class="card-header card-header-image">
                                <a href="{{related_page.get_absolute_url}}">
                                    <img class="img img-raised" src="{{related_page.thumbnail}}">


                                </a>
                                <div class="colored-shadow"
                                    style="background-image: url(&quot;{{related_page.thumbnail}}&quot;); opacity: 1;">
                                </div>
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <h6 class="category farsi text-info">{{related_page.category}}</h6>
                                <h4 class="card-title text-right farsi ">
                                    <a href="{{related_page.get_absolute_url}}">{{related_page.title}}</a>
                                </h4>
                                <div class="card-description">
                                    {{related_page.short_description|safe}}

                                    <a class="badge badge-secondary" href="{{related_page.get_absolute_url}}">ادامه
                                        مطلب</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block head %}
  <style>
    .form-check-label{
      direction: ltr;
    }
  </style>
{% endblock  %}











