{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_persian_date %}

{% block head %}
  
{% endblock  %}


{% block ofbar %}
  
{% endblock  %}


{% block content %}
  <div class="row">
      <div class="col-md-6">
          {% for page in pages %}
            {{page.get_link|safe}}
          {% endfor %}
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
  </div>
{% endblock  %}



{% block modal %}
  
{% endblock  %}



{% block script %}
  
{% endblock  %}