<div class="sidebar" data-color="{{sidebar.sidebar_active_color}}" data-background-color="{{sidebar.sidebar_bg_color}}"
  data-image="https://demos.creative-tim.com/material-dashboard-pro/assets/img/sidebar-1.jpg">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a href="{{app.url.value}}" class="simple-text logo-mini">
      <i class="material-icons">language</i>
    </a>
    <a href="{{app.url.value}}" class="simple-text logo-normal">
      {{app.title.value}}
    </a></div>
  <div class="sidebar-wrapper">
    {% if profile %}
    <div class="user">
      <div class="photo">
        <img src="{{profile.image}}" height="34px" width="34px" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
          <span>
            {{profile.name}}
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{{profile.get_absolute_url}}">
                <span class="sidebar-mini">
                  <i class="material-icons">account_box</i>

                </span>
                <span class="sidebar-normal">پروفایل</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini">
                  <i class="material-icons">vpn_key</i>


                </span>
                <span class="sidebar-normal">تغییر کلمه عبور</span>
              </a>
            </li>
            <li class="nav-item">
              <!-- <form action="{% url 'authentication:logout' %}" method="POST">
                  {% csrf_token %}

                </form> -->
              <!-- <button type="submit" class="nav-link" href="#">
                  <span class="sidebar-mini">و</span>
                  <span class="sidebar-normal">خروج</span>
                </button> -->

              <a class="nav-link" href="{% url 'authentication:logout' %}">
                <span class="sidebar-mini">
                  <i class="material-icons">exit_to_app</i>

                </span>
                <span class="sidebar-normal">خروج</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'dashboard:home' %}">
          <i class="material-icons">dashboard</i>
          <p>دشبورد</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#pagesExamples" aria-expanded="true">
          <i class="material-icons">image</i>
          <p>صفحات
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="pagesExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/pages/pricing.html">
                <span class="sidebar-mini">ع</span>
                <span class="sidebar-normal">التسعير</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="https://demos.creative-tim.com/material-dashboard-pro/examples/pages/rtl.html">
                <span class="sidebar-mini">صو</span>
                <span class="sidebar-normal">دعم رتل</span>
              </a>
            </li>
            <li class="nav-item " id="nav-item-timeline">
              <a class="nav-link" href="{% url 'dashboard:pages_timeline' %}">
                <span class="sidebar-mini">
                  <i class="material-icons">timeline</i>

                </span>
                <span class="sidebar-normal">خط زمانی</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'authentication:login' %}">
                <span class="sidebar-mini">و</span>
                <span class="sidebar-normal">ورود</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/pages/register.html">
                <span class="sidebar-mini">صع</span>
                <span class="sidebar-normal">سجل الصفحة</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="https://demos.creative-tim.com/material-dashboard-pro/examples/pages/lock.html">
                <span class="sidebar-mini">هذاع</span>
                <span class="sidebar-normal">قفل صفحة الشاشة</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="https://demos.creative-tim.com/material-dashboard-pro/examples/pages/user.html">
                <span class="sidebar-mini">شع</span>
                <span class="sidebar-normal">ملف تعريفي للمستخدم</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/pages/error.html">
                <span class="sidebar-mini">البريد</span>
                <span class="sidebar-normal">صفحة الخطأم</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
          <i class="material-icons">apps</i>
          <p>اجزای صفحه
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="#componentsCollapse">
                <span class="sidebar-mini">ر</span>
                <span class="sidebar-normal">المكونات
                  <b class="caret"></b>
                </span>
              </a>
              <div class="collapse" id="componentsCollapse">
                <ul class="nav">
                  <li class="nav-item ">
                    <a class="nav-link" href="#0">
                      <span class="sidebar-mini">ر</span>
                      <span class="sidebar-normal">طباعة</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item " id="nav-item-buttons">
              <a class="nav-link" href="{% url 'dashboard:components_buttons' %}">
                <span class="sidebar-mini">د</span>
                <span class="sidebar-normal">دکمه ها</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/components/grid.html">
                <span class="sidebar-mini">زو</span>
                <span class="sidebar-normal">نظام الشبكةو</span>
              </a>
            </li>
            <li class="nav-item " id="nav-item-panels">
              <a class="nav-link" href="{% url 'dashboard:components_panels' %}">
                <span class="sidebar-mini">ع</span>
                <span class="sidebar-normal">پنل ها</span>
              </a>
            </li>
            <li class="nav-item " id="nav-item-alerts">
              <a class="nav-link" href="{% url 'dashboard:components_alerts' %}">
                <span class="sidebar-mini">پ</span>
                <span class="sidebar-normal">پیام</span>
              </a>
            </li>
            <li class="nav-item " id="nav-item-notifications">
              <a class="nav-link" href="{% url 'dashboard:components_notifications' %}">
                <span class="sidebar-mini">ن</span>
                <span class="sidebar-normal">اعلان ها</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/components/icons.html">
                <span class="sidebar-mini">و</span>
                <span class="sidebar-normal">الرموز</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/components/typography.html">
                <span class="sidebar-mini">ر</span>
                <span class="sidebar-normal">طباعة</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#formsExamples">
          <i class="material-icons">content_paste</i>
          <p>فرم ها
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="formsExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/regular.html">
                <span class="sidebar-mini">صو</span>
                <span class="sidebar-normal">أشكال منتظمة</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/extended.html">
                <span class="sidebar-mini">هوو</span>
                <span class="sidebar-normal">أشكال موسعة</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/validation.html">
                <span class="sidebar-mini">تو</span>
                <span class="sidebar-normal">نماذج التحقق</span>
              </a>
            </li>
            <li class="nav-item " id="nav-item-wizard">
              <a class="nav-link" href="{% url 'dashboard:wizard' %}">
                <span class="sidebar-mini">ث</span>
                <span class="sidebar-normal">ثبت نام</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
          <i class="material-icons">grid_on</i>
          <p>جداول
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="tablesExamples">
          <ul class="nav">
            <li class="nav-item " id="nav-item-tables-regular">
              <a class="nav-link" href="{% url 'dashboard:tables_regular' %}">
                <span class="sidebar-mini">صر</span>
                <span class="sidebar-normal">جداول معمولی</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/tables/extended.html">
                <span class="sidebar-mini">هور</span>
                <span class="sidebar-normal">الجداول الموسعة</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"
                href="https://demos.creative-tim.com/material-dashboard-pro/examples/tables/datatables.net.html">
                <span class="sidebar-mini">در</span>
                <span class="sidebar-normal">جداول البيانات صافي</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#projectmanagerPages">
          <i class="material-icons">place</i>
          <p>مدیریت پروژه
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="projectmanagerPages">
          <ul class="nav">
            <li class="nav-item " id="nav-item-projectmanager-projects">
              <a class="nav-link" href="{% url 'projectmanager:home' %}">
                <span class="sidebar-mini">
                  <i class="material-icons">table_view</i>
                </span>
                <span class="sidebar-normal">لیست پروژه ها</span>
              </a>
            </li>
            <li class="nav-item"  id="nav-item-projectmanager-organizationunits">
              <a class="nav-link" href="{% url 'projectmanager:organizationunits' %}">
                <span class="sidebar-mini">

                  <i class="material-icons">apartment</i>
                </span>
                <span class="sidebar-normal">چارت سازمانی</span>
              </a>
            </li>

            <li class="nav-item " id="nav-item-projectmanager-archivedocuments">
              <a class="nav-link" href="{% url 'projectmanager:archivedocuments' %}">
                <span class="sidebar-mini">

                  <i class="material-icons">assignment</i>
                </span>
                <span class="sidebar-normal">اسناد آرشیوی</span>
              </a>
            </li>


            <li class="nav-item " id="nav-item-projectmanager-tutorial">
              <a class="nav-link" href="{% url 'projectmanager:tutorial' %}">
                <i class="material-icons">help</i>
                <p>راهنما</p>
              </a>
            </li>



          </ul>
        </div>
      </li>
      <li class="nav-item " id="nav-item-widgets">
        <a class="nav-link" href="{% url 'dashboard:widgets' %}">
          <i class="material-icons">widgets</i>
          <p>ابزارک ها</p>
        </a>
      </li>
      <li class="nav-item " id="nav-item-charts">
        <a class="nav-link" href="{% url 'dashboard:charts' %}">
          <i class="material-icons">timeline</i>
          <p>نمودار</p>
        </a>
      </li>
      <li class="nav-item " id="nav-item-calendar">
        <a class="nav-link" href="{% url 'dashboard:calendar' %}">
          <i class="material-icons">date_range</i>
          <p>تقویم</p>
        </a>
      </li>

      {% if PUSHER_IS_ENABLE %}

      <li class="nav-item " id="nav-item-pusher">
        <a class="nav-link" href="{% url 'pusher:chat' %}">
          <i class="material-icons">chat</i>
          <p>پیام</p>
        </a>
      </li>
      {% endif %}
     
    </ul>
  </div>
</div>