{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "material/includes/head.html" %}
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>
    <!-- End Google Tag Manager -->


    {% block style %}

    {% endblock  %}

    {% block head %}

    {% endblock  %}

    <style>
        f-right {
            float: right !important;
        }

        f-left {
            float: left !important;
        }

        .nav-link i.material-icons {
            margin-left: 6px;
        }

        .navbar.navbar-transparent {
            color: {
                    {
                    app.NAV_TEXT_COLOR.value
                }
            }

            ;

            background-color: {
                    {
                    app.NAV_BACK_COLOR.value
                }
            }

             !important;


        }

        .navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon {

            background-color: {
                    {
                    app.NAV_TEXT_COLOR.value
                }
            }

            ;

        }
    </style>
</head>


<body class="sidebar-collapse {{body_class}}">
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include "material/includes/navbar.html" %}

    {% block content %}

    {% endblock  %}





    {% block modal %}

    {% endblock  %}

    {% include "material/includes/footer.html" %}



    <!--   Core JS Files   -->
    <script src="{% static 'vendor/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'material/js/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'material/js/moment.min.js' %}"></script>


    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{% static 'material/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static 'material/js/nouislider.min.js' %}" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script> -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!--	Plugin for Sharrre btn -->
    <script src="{% static 'material/js/jquery.sharrre.js' %}" type="text/javascript"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="{% static 'material/js/bootstrap-tagsinput.js' %}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static 'material/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static 'material/js/jasny-bootstrap.min.js' %}" type="text/javascript"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="{% static 'material/js/jquery.flexisel.js' %}" type="text/javascript"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="{% static 'material/js/modernizr.js' %}" type="text/javascript"></script>
    <script src="{% static 'material/js/vertical-nav.js' %}" type="text/javascript"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
    <!-- <script src="{% static 'material/demo.js' %}" type="text/javascript"></script> -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'material/js/material-kit.min.js' %}" type="text/javascript"></script>

    <!--  Plugin for Sweet Alert -->
    <!-- <script src="{% static 'vendor/js/sweetalert2.js' %}"></script> -->

    <!-- <script>
        $(document).ready(function () {
            //init DateTimePickers
            materialKit.initFormExtendedDatetimepickers();

            // Sliders Init
            materialKit.initSliders();
        });
    </script> -->

    {% csrf_token %}
    <script>
        var csrfmiddlewaretoken = ''
        $(document).ready(function () {
            //   md.checkFullPageBackgroundImage();

            $("#sidebar_active_color_{{sidebar.sidebar_active_color}}").addClass("active")
            $("#sidebar_bg_color_{{sidebar.sidebar_bg_color}}").addClass("active")
            // Javascript method's body can be found in assets/js/demos.js
            csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()


            // $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
        });
    </script>
    {% block script %}

    {% endblock  %}

</body>

</html>