{% extends "material/base-layout.html" %}
{% load static %}
{% block content %}
<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url(&quot;{{header_image.image}}&quot;); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">{{header_text}}</h2>
                {% if perms.app.change_mainpic %}
                {{header_image.get_edit_btn|safe}}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="main main-raised mb-5" id="blogs-app">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <ul class="nav nav-pills nav-pills-primary rtl">
                        <li class="nav-item ml-1">
                            <button class="nav-link google-drive-opener active" @click="select_category('all')"
                                id='category_all' data-toggle="tab">همه</button>
                        </li>
                        <li class="nav-item" v-for="category in categories">
                            <button class="nav-link google-drive-opener" @click="select_category(category)"
                                :id="'category'+category" data-toggle="tab" v-text="category"></button>
                        </li>


                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="pill1"></div>
                        <div class="tab-pane" id="pill2"></div>
                        <div class="tab-pane" id="pill3"></div>
                        <div class="tab-pane" id="pill4"></div>
                    </div>
                </div>
            </div>
            <div class="row rtl">
                <template v-for="ourwork in ourworks">
                    <transition name="fade1">
                        <div v-if="ourwork.category==selected_category || selected_category=='all'" class="col-md-6">

                            <div class="card card-raised card-background"
                                :style="'background-image: url(&quot;'+ourwork.thumbnail+'&quot;)'">
                                <div class="card-body">
                                    <h6 class="card-category text-info" v-text="ourwork.category"></h6>
                                    <a :href="ourwork.get_absolute_url" class="google-drive-opener">
                                        <h3 class="card-title" v-text="ourwork.title"></h3>
                                    </a>
                                    <p class="card-description text-center" v-text="ourwork.short_description">

                                    </p>

                                    {% if perms.app.change_mainpic %}
                                    <a :href="ourwork.get_edit_url" class="btn btn-info btn-round google-drive-opener">
                                        <i class="material-icons text-light">format_align_left</i>
                                        <span class="text-light">

                                            ویرایش مطلب
                                        </span>
                                    </a>
                                    <a :href="ourwork.get_absolute_url"
                                        class="btn btn-danger btn-round google-drive-opener">
                                        <i class="material-icons text-light">format_align_left</i>
                                        <span class="text-light">

                                            ادامه مطلب
                                        </span>
                                    </a>
                                    {% endif %}




                                </div>
                            </div>

                        </div>
                    </transition>
                </template>

            </div>

        </div>
        <div class="section">
            <h3 class="title text-center">You may also be interested in</h3>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo" class="google-drive-opener">
                                <img class="img img-raised" src="../assets/img/bg5.jpg">
                            </a>
                            <div class="colored-shadow"
                                style="background-image: url(&quot;../assets/img/bg5.jpg&quot;); opacity: 1;"></div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-info">Enterprise</h6>
                            <h4 class="card-title">
                                <a href="#pablo" class="google-drive-opener">Autodesk looks to future of 3D printing
                                    with Project Escher</a>
                            </h4>
                            <p class="card-description">
                                Like so many organizations these days, Autodesk is a company in transition. It was until
                                recently a traditional boxed software company selling licenses.<a href="#pablo"
                                    class="google-drive-opener"> Read More </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo" class="google-drive-opener">
                                <img class="img img-raised" src="../assets/img/examples/blog5.jpg">
                            </a>
                            <div class="colored-shadow"
                                style="background-image: url(&quot;../assets/img/examples/blog5.jpg&quot;); opacity: 1;">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-success">
                                Startups
                            </h6>
                            <h4 class="card-title">
                                <a href="#pablo" class="google-drive-opener">Lyft launching cross-platform service this
                                    week</a>
                            </h4>
                            <p class="card-description">
                                Like so many organizations these days, Autodesk is a company in transition. It was until
                                recently a traditional boxed software company selling licenses.<a href="#pablo"
                                    class="google-drive-opener"> Read More </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo" class="google-drive-opener">
                                <img class="img img-raised" src="../assets/img/examples/blog6.jpg">
                            </a>
                            <div class="colored-shadow"
                                style="background-image: url(&quot;../assets/img/examples/blog6.jpg&quot;); opacity: 1;">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-danger">
                                <i class="material-icons">trending_up</i> Enterprise
                            </h6>
                            <h4 class="card-title">
                                <a href="#pablo" class="google-drive-opener">6 insights into the French Fashion
                                    landscape</a>
                            </h4>
                            <p class="card-description">
                                Like so many organizations these days, Autodesk is a company in transition. It was until
                                recently a traditional boxed software company selling licenses.<a href="#pablo"
                                    class="google-drive-opener"> Read More </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-5 section-image" style="background-image: url('../assets/img/bg10.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-header card-header-image">
                                    <a href="#pablo" class="google-drive-opener">
                                        <img class="img" src="../assets/img/faces/card-profile1-square.jpg">
                                    </a>
                                    <div class="ripple-container"></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title">Alec Thompson</h4>
                                    <h6 class="card-category text-muted">Author of the Month</h6>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in
                                        truth...
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-header card-header-image">
                                    <a href="#pablo" class="google-drive-opener">
                                        <img class="img" src="../assets/img/faces/card-profile4-square.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title">Kendall Andrew</h4>
                                    <h6 class="card-category text-muted">Author of the Week</h6>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in
                                        truth...
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white google-drive-opener">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe-line">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">Get Tips &amp; Tricks every Week!</h3>
                    <p class="description">
                        Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about
                        this.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="card card-plain card-form-horizontal">
                        <div class="card-body">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">mail</i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Your Email...">
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button"
                                            class="btn btn-primary btn-round btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    const ourworks = JSON.parse(`{{ourworks_s|escapejs}}`)
    function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
    }
</script>
<script>
    let blogs_app = new Vue({
        el: "#blogs-app",
        data: {
            ourworks: ourworks,
            selected_category: 'all',
        },
        computed: {
            categories: function () {
                categories_ = []
                ourworks.forEach(element => {
                    if (element.category)
                        categories_.push(element.category)

                })
                categories_ = categories_.filter(onlyUnique)
                return categories_
            }
        },
        methods: {
            select_category: function (category) {
                $("#category_all").removeClass('active')

                this.categories.forEach(element => {
                    $("#category" + element).removeClass('active')
                });

                if (category === 'all')
                    $("#category_all").addClass('active')
                else
                    $("#category" + category).addClass('active')

                this.selected_category = category
                // if (category === 'all')
                //     this.blogs = all_blogs
                // else {
                //     this.blogs = []
                //     all_blogs.forEach(element => {
                //         if (element.category === category)
                //             this.blogs.push(element)
                //     });
                // }


            }


        }
    })
</script>
{% endblock script %}
{% block style %}
<style>
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
        {
        opacity: 0;
    }
</style>
{% endblock style %}