{% extends "material/base-layout.html" %}

{% load static %}
{% block content %}
<div class="page-header header-filter" data-parallax="true"
    style="background-image: url(&quot;{{page.header_image}}&quot;); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title farsi text-center">
                    {{page.title}}
                </h1>
                {% if page.short_description %}
                <h4 class=" farsi text-center">

                    {{page.short_description|safe}}
                </h4>
                {% endif %}
                <br>
                {% if perms.dashboard.change_page %}
                <a href="{{page.get_edit_url}}" class="btn btn-info btn-round btn-lg">
                    <i class="material-icons">rate_review</i> ویرایش
                </a>
                {% endif %}
                <a href="{{page.get_absolute_url}}" class="btn btn-rose btn-round btn-lg">
                    <i class="material-icons">format_align_left</i> توضیحات بیشتر
                </a>


            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title farsi text-right">
                        {{page.title}}
                    </h3>

                    <div>
                        {{page.description|safe}}
                    </div>

                </div>
                <div class="section col-md-10 ml-auto mr-auto">
                    <div class="row">
                        {% for image in page.images.all %}
                        <div class="col-md-4">
                            <img class="img-raised rounded img-fluid" alt="Raised Image" src="{{image.thumbnail}}">
                        </div>
                        {% endfor %}



                    </div>
                </div>

            </div>
        </div>
        <div class="section section-blog-info">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="row rtl" id="app">
                        <div class="col-md-12">
                            <div class="blog-tags text-right">
                                برچسب ها:


                                <div class="bootstrap-tagsinput primary-badge">
                                    <template v-for="tag in tags">

                                        {% verbatim %}
                                        <span class="tag badge mx-2">
                                            <a :href="tag.get_absolute_url" class="text-light">
                                                {{tag.title}}
                                            </a>

                                            <span @click="remove_tag(tag.id)" data-role="remove"></span>
                                        </span>




                                        {% endverbatim %}
                                    </template>


                                    <form class="d-inline mx-2" v-on:submit.prevent="add_tag">
                                        <span class="bmd-form-group"><input v-model="tag_title" type="text"
                                                class="form-control" placeholder="تگ جدید"></span>
                                    </form>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="#pablo" class="btn btn-google btn-round float-right">
                                <i class="fa fa-google"></i> 232
                            </a>
                            <a href="#pablo" class="btn btn-twitter btn-round float-right">
                                <i class="fa fa-twitter"></i> 910
                            </a>
                            <a href="#pablo" class="btn btn-facebook btn-round float-right">
                                <i class="fa fa-facebook-square"></i> 872
                            </a>
                        </div>
                    </div>
                    <hr>
                    {% if page.profile %}

                    <div class="card card-profile card-plain">
                        <div class="row rtl">
                            <div class="col-md-2">
                                <div class="card-avatar">
                                    <a href="{{page.profile.get_absolute_url}}">
                                        <img class="img" src="{{page.profile.image}}">
                                    </a>
                                    <div class="ripple-container"></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <a href="{{page.profile.get_absolute_url}}">


                                    <h4 class="card-title farsi">{{page.profile.name}}</h4>
                                </a>
                                {% if page.profile.bio %}
                                <p class="description text-center">
                                    {{page.profile.bio}}
                                </p>
                                {% endif %}

                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default pull-right btn-round">دنبال کنید</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="section section-comments" id="comment-app">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="media-area">
                        <h3 class="title text-center rtl farsi text-right" v-text="comments.length+' نظر'"></h3>
                        <template v-for="comment in comments">
                            <comment-component :comment="comment">
                            </comment-component>

                        </template>

                    </div>
                    <h3 class="title text-center farsi">دیدگاه خود را وارد کنید</h3>
                    <div class="media media-post rtl">
                        <a class="author float-left" href="{{profile.get_absolute_url}}">
                            <div class="avatar">
                                <img class="media-object" alt="64x64" src="{{profile.image}}">
                            </div>
                        </a>
                        <div class="media-body">
                            <form @submit.prevent="add_comment">
                                <div class="form-group label-floating bmd-form-group">
                                    <label class="form-control-label bmd-label-floating" for="exampleBlogPost">
                                        نظر شما
                                    </label>
                                    <textarea v-model="text" class="form-control farsi" rows="5"
                                        id="exampleBlogPost"></textarea>
                                </div>
                                <div class="media-footer">
                                    <button type="submit" class="btn btn-primary btn-round btn-wd float-right">ارسال
                                        نظر</button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- end media-post -->
                </div>
            </div>
        </div>
    </div>
</div>
{% if page.related_pages.all %}

<div class="section">
    <div class="container">
        <div class="row rtl">
            <div class="col-md-12">
                <h2 class="title text-center farsi">صفحه های مرتبط</h2>
                <br>
                <div class="row">
                    {% for related_page in page.related_pages.all %}
                    <div class="col-md-4">
                        <div class="card card-blog">
                            {% if related_page.thumbnail %}
                            <div class="card-header card-header-image">
                                <a href="{{related_page.get_absolute_url}}">
                                    <img class="img img-raised" src="{{related_page.thumbnail}}">


                                </a>
                                <div class="colored-shadow"
                                    style="background-image: url(&quot;{{related_page.thumbnail}}&quot;); opacity: 1;">
                                </div>
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <h6 class="category farsi text-info">{{related_page.category}}</h6>
                                <h4 class="card-title text-right farsi ">
                                    <a href="{{related_page.get_absolute_url}}">{{related_page.title}}</a>
                                </h4>
                                <div class="card-description">
                                    {{related_page.short_description|safe}}

                                    <a class="badge badge-secondary" href="{{related_page.get_absolute_url}}">ادامه
                                        مطلب</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    let comments = JSON.parse(`{{comments_s|escapejs}}`)
    let page_id = parseInt("{{page.id}}")
    let add_comment_url = "{% url 'dashboard:add_comment' %}"
    let delete_comment_url = "{% url 'dashboard:delete_comment' %}"

    let profile_id = parseInt("{{profile.id}}")
    var comment_template = `{% include 'material/includes/comment.html' %}`

    var tags = JSON.parse(`{{tags_s|escapejs}}`)
    var links = JSON.parse(`{{links_s|escapejs}}`)
    var documents = JSON.parse(`{{documents_s|escapejs}}`)
    var images = JSON.parse(`{{images_s|escapejs}}`)
    let add_tag_url = "{% url 'dashboard:add_tag' %}"
    let remove_tag_url = "{% url 'dashboard:remove_tag' %}"

</script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script src="{% static 'dashboard/leo/comment-app.js' %}"></script>
<script src="{% static 'dashboard/leo/tags-app.js' %}"></script>


{% endblock %}