{% extends "material/base-layout.html" %}
{% load static %}


{% block head %}
<style>
    .profile-page .profile img {
        max-width: 160px;
        width: 100%;
        margin: 0 auto;
        transform: translate3d(0, -50%, 0);
    }
</style>
{% endblock  %}


{% block ofbar %}

{% endblock  %}


{% block content %}

<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('{{selected_profile.header_image}}'); transform: translate3d(0px, 0px, 0px);">
</div>


<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{selected_profile.image}}" alt="Circle Image"
                                class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">{{selected_profile.name}}</h3>
                            <h6>{{selected_profile.slogan}}</h6>
                            {% for social_link in selected_profile.sociallink_set.all %}
                           {{social_link.get_link|safe}}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="follow">
                        <a href="{{selected_profile.get_edit_url}}">
                            <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title=""
                                data-original-title="Follow this user">
                                <i class="material-icons">add</i>
                            </button></a>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                {% if profile.bio %}
                <p class="text-center">
                    {{profile.bio}}
                </p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <!--
                                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                                -->
                            <li class="nav-item">
                                <a class="nav-link active show" href="#work" role="tab" data-toggle="tab"
                                    aria-selected="true">
                                    <i class="material-icons">palette</i>
                                    پروژه ها
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#connections" role="tab" data-toggle="tab"
                                    aria-selected="false">
                                    <i class="material-icons">people</i>
                                    موقعیت
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#media" role="tab" data-toggle="tab" aria-selected="false">
                                    <i class="material-icons">camera</i>
                                    اسناد
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane work active show" id="work">
                    <div class="row">
                        <div class="col-md-7 ml-auto mr-auto ">
                            <h4 class="title">Latest Collections</h4>
                            <div class="row collections">
                                <div class="col-md-6">
                                    <div class="card card-background"
                                        style="background-image: url('{% static 'material/img/mariya-georgieva.jpg' %}')">
                                        <a href="#pablo"></a>
                                        <div class="card-body">
                                            <label class="badge badge-warning">Spring 2016</label>
                                            <a href="#pablo">
                                                <h2 class="card-title">Stilleto</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-background"
                                        style="background-image: url('{% static 'material/img/clem-onojeghuo.jpg' %}')">
                                        <a href="#pablo"></a>
                                        <div class="card-body">
                                            <label class="badge badge-info">Spring 2016</label>
                                            <a href="#pablo">
                                                <h2 class="card-title">High Heels</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-background"
                                        style="background-image: url('{% static 'material/img/olu-eletu.jpg' %}')">
                                        <a href="#pablo"></a>
                                        <div class="card-body">
                                            <label class="badge badge-danger">Summer 2016</label>
                                            <a href="#pablo">
                                                <h2 class="card-title">Flats</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-background"
                                        style="background-image: url('{% static 'material/img/darren-coleshill.jpg' %}')">
                                        <a href="#pablo"></a>
                                        <div class="card-body">
                                            <label class="badge badge-success">Winter 2015</label>
                                            <a href="#pablo">
                                                <h2 class="card-title">Men's Sneakers</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mr-auto ml-auto stats">
                            <h4 class="title">Stats</h4>
                            <ul class="list-unstyled">
                                <li><b>60</b> Products</li>
                                <li><b>4</b> Collections</li>
                                <li><b>331</b> Influencers</li>
                                <li><b>1.2K</b> Likes</li>
                            </ul>
                            <hr>
                            <h4 class="title">About his Work</h4>
                            <p class="description">French luxury footwear and fashion. The footwear has incorporated
                                shiny, red-lacquered soles that have become his signature.</p>
                            <hr>
                            <h4 class="title">Focus</h4>
                            <span class="badge badge-primary">Footwear</span>
                            <span class="badge badge-rose">Luxury</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane connections" id="connections">
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="{% static 'material/img/avatar.jpg' %}">
                                            </a>
                                            <div class="colored-shadow"
                                                style="background-image: url(&quot;{% static 'material/img/avatar.jpg' %}&quot;); opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Gigi Hadid</h4>
                                            <h6 class="card-category text-muted">Model</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human
                                                foundation in truth...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mr-auto ml-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="{% static 'material/img/marc.jpg' %}">
                                            </a>
                                            <div class="colored-shadow"
                                                style="background-image: url(&quot;{% static 'material/img/marc.jpg' %}&quot;); opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Marc Jacobs</h4>
                                            <h6 class="card-category text-muted">Designer</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human
                                                foundation in truth...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="{% static 'material/img/kendall.jpg' %}">
                                            </a>
                                            <div class="colored-shadow"
                                                style="background-image: url(&quot;{% static 'material/img/kendall.jpg' %}&quot;); opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Kendall Jenner</h4>
                                            <h6 class="card-category text-muted">Model</h6>
                                            <p class="card-description">
                                                I love you like Kanye loves Kanye. Don't be scared of the truth.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img"
                                                    src="{% static 'material/img/card-profile2-square.jpg' %}">
                                            </a>
                                            <div class="colored-shadow"
                                                style="background-image: url(&quot;{% static 'material/img/card-profile2-square.jpg' %}&quot;); opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">George West</h4>
                                            <h6 class="card-category text-muted">Model/DJ</h6>
                                            <p class="card-description">
                                                I love you like Kanye loves Kanye.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="media">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <img src="{% static 'material/img/mariya-georgieva.jpg' %}" class="rounded">
                            <img src="{% static 'material/img/clem-onojegaw.jpg' %}" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="{% static 'material/img/clem-onojeghuo.jpg' %}" class="rounded">
                            <img src="{% static 'material/img/olu-eletu.jpg' %}" class="rounded">
                            <img src="{% static 'material/img/cynthia-del-rio.jpg' %}" class="rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}



{% block modal %}

{% endblock  %}



{% block script %}

<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a href="#buttons" data-number="1">
                <span class="cd-dot"></span>
                <span class="cd-label">{{selected_profile.name}}</span>
            </a>
        </li>
        <li>
            <a href="#navigation" data-number="2">
                <span class="cd-dot"></span>
                <span class="cd-label">موقعیت ها</span>
            </a>
        </li>
        <li>
            <a href="#notifications" data-number="3">
                <span class="cd-dot"></span>
                <span class="cd-label">پروژه ها</span>
            </a>
        </li>
        <li>
            <a href="#footers" data-number="4">
                <span class="cd-dot"></span>
                <span class="cd-label">وضعیت مالی</span>
            </a>
        </li>

        <li>
            <a href="#cards" data-number="5">
                <span class="cd-dot"></span>
                <span class="cd-label">Cards</span>
            </a>
        </li>
        <li>
            <a href="#morphingCards" data-number="8">
                <span class="cd-dot"></span>
                <span class="cd-label">Morphing Cards</span>
            </a>
        </li>
        <li>
            <a href="#javascriptComponents" data-number="9">
                <span class="cd-dot"></span>
                <span class="cd-label">Javascript</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock  %}