<div class="card card-stats">
    <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
            <i class="material-icons">store</i>
        </div>
        <p class="card-category">راهنما و</p>
        <h3 class="card-title">آموزش</h3>
    </div>
    <div class="card-body">

        <ul>
            <li>
                <a href="">
                    پروژه ها
                </a>
                <ul>
                    <li>
                        <a href="{% url 'projectmanager:tutorial_add_project' %}">
                            افزودن پروژه جدید
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'projectmanager:tutorial_add_project' %}">
                            افزودن زیرپروژه برای یک پروژه
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'projectmanager:tutorial_add_project_location' %}">
                            افزودن لوکیشن به پروژه
                        </a>
                    </li>
                  
                    <li>
                        <a href="{% url 'projectmanager:tutorial_add_project_location' %}">
                            افزودن لینک به پروژه
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'projectmanager:tutorial_add_project_location' %}">
                            افزودن فایل دانلودی به پروژه
                        </a>
                    </li>


                    <li>
                        <a href="{% url 'projectmanager:tutorial_add_project_location' %}">
                            افزودن تگ یا برچسب به پروژه
                        </a>
                    </li>

                  


                    <li>
                        <a href="#">
                            لیست ۳
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            لیست ۴
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    لیست ۱
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    لیست ۲
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    لیست ۳
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    لیست ۴
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    لیست ۵
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            لیست ۵
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#">
                    لیست ۲
                </a>
            </li>
            <li>
                <a href="#">
                    لیست ۳
                </a>
            </li>
            <li>
                <a href="#">
                    لیست ۴
                </a>
            </li>
            <li>
                <a href="#">
                    لیست ۵
                </a>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
        </div>
    </div>
</div>